* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FC4445;
    overflow-x: hidden;
}

.container {
    text-align: center;
    margin: auto;
    max-width: 900px;
}

#container-note {
    background-color: #FC4445;
    width: 100%;
    max-width: 900px;
    margin: auto;
}


header {
    text-align: center;
    padding: 20px 0;
    background-color: #3FEEE6;
}

header h1 {
    font-size: 3em;
}

#secInp h2 {
    color: white;
    margin: 12px 0;
    font-size: 1.5em;
}

#secInp {
    width: 100%;
}

#secInp .text {
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

#secInp input[type="button"] {
    margin-top: 1em;
    padding: 15px;
    width: 30%;
    border-radius: 20px;
    border: 0;
    background-color: #3FEEE6;
}

.text input[type="text"] {
    margin-right: 10%;
    border-radius: 15px;
    border: 0;
    height: 2.3em;
    width: 100%;
}

.text input[type="text"]:focus {
    outline: none;
    border: 2px solid black;
}

#secDiv {
    text-align: center;
    border: 30px solid #FC4445;
    min-height: 200px;
    max-height: 200px;
    float: left;
    width: 50%;
    background-color: #3FEEE6;
    border-radius: 10px;
    overflow: hidden;
}

#secDiv input[type="button"] {
    border: 0;
    border-radius: 10px;
    background-color: #FC4445;
    font-size: 1em;
    margin: 10px 0;
    width: 40%;
    height: 2.8em;
}

#secDiv p { 
    margin: 10px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

#container-note div {
    overflow-wrap: break-word;
}

.modal {
    background-color: white;
    width: 80%;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: all;
}

.modal p {
    text-align: justify;
    color: black;
    font-size: 20px;
    margin: 20px;
    word-break: break-all;
}

.modal input[type="button"] {
    padding: 10px 40px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #3FEEE6;
    border: 0;
}

@media screen and (max-width: 600px) {

    #secDiv {
        width: 100%;
    }

}
